<!doctype html>
<html>
<head>
  <title>Puzzler 2015</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/bootstrap-social.css" rel="stylesheet">
  <link href="/css/site.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
  <div id="heading">
    <div id="headingTitle">
      <a href="/" id="logoLink"><img src="/puzzle_logo.png" /></a>
      Puzzler 2015
    </div>
    <div id="headingUser">
      {{#userId}}
      <a id="userLink" href="/me">
        <img src="{{{avatar}}}" />
      </a>
      Welcome {{name}}!
      <br/>
      <a href="/me">Your Progress</a>
      <p />
      <a href="/logout">Sign Out</a>
      {{/userId}}

      {{^userId}}
      <span class="authWrapper">
        <a class="btn btn-block btn-social btn-google-plus" class="authButton" href="/auth/google">
          <i class="fa fa-google-plus"></i>
          Sign in with Google
        </a>
      </span>
      <span class="authWrapper">
        <a class="btn btn-block btn-social btn-facebook" class="authButton" href="/auth/facebook">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      </span>
      {{/userId}}
    </div>
  </div>
  <div id="mainContent">
