
{{> header}}

This series of puzzles was originally posted in 2015, unlocked by iQ Easter Egghunters once they had found all of the eggs hidden around the office.

<p/>

<a href="/puzzle">Click here to begin or continue</a>

<p/>

{{#isAdmin}}
  <p/>
  <a href="/players">Active Player Listing</a>
  <p/>
  <a href="/scores">Scores</a>
  <p/>
  <a href="/puzzlelist">Puzzle Info</a>
{{/isAdmin}}

<br/><br/><br/><br/>

<i>Send issues to @cory in Slack</i>

{{> footer}}

